@import "bourbon";
@import "neat";
@import "../libs/lumx/dist/scss/lumx";

@font-face {
    font-family: refuse;
    src: url(../fonts/refuse.ttf);
}

@font-face {
    font-family: webley;
    src: url(../fonts/weblysleekuisl.ttf);
}

@font-face {
    font-family: webley;
    src: url(../fonts/weblysleekuisli.ttf);
    font-style: italic;
}

@font-face {
    font-family: webley;
    src: url(../fonts/weblysleekuisb.ttf);
    font-weight: bold;
}

@font-face {
    font-family: webley;
    src: url(../fonts/weblysleekuisbi.ttf);
    font-weight: bold;
    font-style: italic;
}

html {
	font-family: webley;
}

.outline-font {
	font-family: refuse;
}

header {
	height: 30em;
	background-image: url('../img/standout.jpg');
	background-position: 50% 20%; 
	background-size: cover;
}

.header-intro {
	width: 40em;
	margin-left: 10%;
	padding-top: 3em;
}

.content {
	width: 80%;
	margin: 0em auto;
}

.item {
	@include span-columns(6);
	@include omega(2n);
}

.title {
	margin-bottom: .5em;
	display: block;
}

section {
	overflow: auto;
	padding: 3em 0;
}

div {
	overflow: auto;
}

.image-row{
	clear: both;
	padding-top: 3em;
	text-align: center;
	img {
		display: inline-block;
		margin: 0 1em;	
	}
}

.github, .demo {
	margin-top: .5em;
}

.projects {
	display: block;
	padding-bottom: 4em;
	margin-bottom: 4em;
	border-bottom: 2px $brown-300 dashed;

	&:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
		margin-bottom: 3em;
	}
}

a:link, a:visited, a:active {
	color: $cyan-700;
	text-decoration: none;
}

a:hover {
	color: $red-A200;
	text-decoration: none;
}

footer {
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: $grey-700;
	text-align: center;
	padding: .5em 0;
}

.follow {
	margin-right: 4em;

	a {
		margin-right: 1em;
	}
}

.follow, .nav {
	display: inline-block;
	a:link, a:visited, a:active {
		color: $cyan-200;
		text-decoration: none;
	}

	a:hover {
		color: $red-200;
		text-decoration: none;
	}
}

.nav {
	a {
		display: inline-block;
		box-sizing: border-box;
		border-right: 2px dotted white;
		padding-right: 1em;
		margin-right: 1em;
	}

	a:last-of-type {
		border-right: none;
		padding-right: 0;
		margin-right: 0;
	}
}