<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tim Sarvey: Developer</title>
	<link rel="stylesheet" href="./assets/libs/lumx/dist/lumx.css">
	<link rel="stylesheet" href="./assets/css/styles.css">
	<script src="./assets/libs/jquery/dist/jquery.js"></script>
	<script src="./assets/libs/velocity/velocity.js"></script>
	<script src="./assets/libs/moment/min/moment-with-locales.js"></script>
	<script src="./assets/libs/angular/angular.js"></script>
	<script src="./assets/libs/lumx/dist/lumx.js"></script>
	<script src="./assets/libs/angular-sanitize/angular-sanitize.js"></script>
	<script src='./assets/libs/ngSmoothScroll/lib/angular-smooth-scroll.js'></script>
	<script src="js/app.js"></script>
</head>
<body ng-controller='homeController'>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-73868008-1', 'auto');
	ga('send', 'pageview');

	</script>
	<header id='top'>
		<div class="header-intro">
			<span class='fs-display-4 tc-yellow-A700 outline-font stand-out'>STAND OUT</span>
			<p class='fs-headline tc-white intro-text'>Why be the same as everybody else? Being different is cool. As a web developer, I put this concept into practice with every project I create. My name is <b>Tim Sarvey</b>. Welcome.</p>
		</div>
	</header>
	<section id='about'>
		<div class='content'>
			<blurb header='Who am I?' class='item'>
				My name is Tim Sarvey. I am a web developer with a passion for clean design that also stands out from the crowd. Since 2009, I have been casually freelance developing and now I am looking to shift careers into developing full time. I am currently for hire and looking for a remote Frontend position. Check out some of my projects below.
			</blurb>
			<blurb header='My Background' class='item'>
				Believe it or not, I come from a musical background. In 2008, I graduated from IUP with a Bachelor's Degree in Music Ed. I continued my education with a Master's Degree in Music Tech from IUPUI. During my time as an educator, I was a substitute teacher, Assistant Band Director, and, of course, freelance developer. It wasn't until my master's degree that I discovered my love for developing. Fast forwarding to today, I now have a Bachelor's Degree in Information Technology from UMass.
			</blurb>
			<div class='image-row'>
				<img ng-repeat='college in colleges' ng-src='./assets/img/{{college}}.jpg' width='100' class='img-round'>
			</div>
		</div>
	</section>
	<section id='skills' class='bgc-brown-300 tc-white'>
		<div class='content'>
			<blurb header='Languages' class='item'>
				My strongest languages are HTML5, CSS3, and JavaScript. I am always open to learning new languages.
			</blurb>
			<blurb header='Frameworks/Libraries/Tools' class='item'>
				I have experience with jQuery, jQueryUI, Ajax, AngularJS 1.x, and Twitter-Bootstrap. Again, I am open to any framework or library. It is always fun to see what options are out there and to see what they offer! As far as my editing enironmnet is concerned, I use Sublime, Git, GitHub, Gulp, and SASS (just to name a little bit).
			</blurb>
			<div class='image-row'>
				<img ng-repeat='tool in tools | limitTo:5:0'ng-src='./assets/img/{{tool}}.jpg' width='100' class='img-round'>
			</div>
			<div class='image-row'>
				<img ng-repeat='tool in tools | limitTo:5:5'ng-src='./assets/img/{{tool}}.jpg' width='100' class='img-round'>
			</div>
		</div>
	</section>
	<section id='projects'>
		<div class='content'>
			<project class='projects' ng-repeat='project in projects' my-project='project'>
			</project>
		</div>
	</section>
	<footer>
		<div class='follow'>
			<a href="mailto:&#116;&#105;&#109;&#115;&#97;&#114;&#118;&#101;&#121;&#64;&#103;mai&#108;.&#99;&#111;m">&#116;&#105;&#109;&#115;&#97;&#114;&#118;&#101;&#121;&#64;&#103;mai&#108;.&#99;&#111;m</a>
			<a href='https://github.com/tbone849' target='_blank'><i class="mdi mdi-github-circle"></i> GitHub</a>
			<a href='https://www.linkedin.com/in/timsarvey' target='_blank'><i class="mdi mdi-linkedin-box"></i> LinkedIn</a>
		</div>
		<div class='nav'>
			<a href='#' scroll-to='top'>Back to Top</a>
			<a href='#' scroll-to='about'>About</a>
			<a href='#' scroll-to='skills'>Skills</a>
			<a href='#' scroll-to='projects'>Projects</a>
		</div>
	</footer>
</body>
</html>